// $point is an string equals at large, medium, small.
@mixin breakpoint($point) {
    $breakpoint-small: "(max-width: 639px)";
    $breakpoint-small-medium: "(max-width: 959px)";
    $breakpoint-medium: "(min-width: 639px) and (max-width: 959px)";
    $breakpoint-medium-large: "(min-width: 639px)";
    $breakpoint-large: "(min-width: 960px)";

    @if $point == small {
        @media #{$breakpoint-small} { @content; }
    }
    @if $point == small-medium {
        @media #{$breakpoint-small-medium} { @content; }
    }
    @else if $point == medium {
        @media #{$breakpoint-medium} { @content; }
    }
    @else if $point == medium-large {
        @media #{$breakpoint-medium-large} { @content; }
    }
    @else if $point == large {
        @media #{$breakpoint-large}  { @content; }
    }
}
