@import "./themes/subtile.scss";

$font-family: source sans pro,helvetica neue,Arial,sans-serif;
$site-title-font-size: large;
$menu-height: 70px;

// Index
$index-list-max-width: 1000px;

// Post
$post-max-width: 700px;
