{{ define "main" }}

<article>
    <header>
        <h1>{{ .Title }}</h1>
        {{ range .Translations }}
        <li>
            <a href="{{ .Permalink }}">{{ i18n (printf "read_%s" .Lang) }}: {{ .Title }}</a>
        </li>
        {{ end }}
        <p>
            <span class="date">{{ .Date.Format $.Site.Params.DateFormat | default "2006-01-02" }}</span>
        </p>
        {{ if .Params.Tags }}
        <span>Tags:</span>
        <ul>
            {{ range .Params.Tags }}
            <li><a href="{{ $.Site.BaseURL }}/tags/{{ . }}"> {{ . }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </header>

    <aside>
        <h2>Table of Content</h2>
        {{ .TableOfContents }}
    </aside>

    <div class="content">
        {{ .Content }}
    </div>

    {{/* TODO: Add footer with webmentions  */}}
</article>
{{ end }}
