{{ define "main" }}

<article>
    <header>
        <h1>{{ .Title }}</h1>
        {{ range .Translations }}
        <li>
            <a href="{{ .Permalink }}">{{ i18n (printf "read_%s" .Lang) }}: {{ .Title }}</a>
        </li>
        {{ end }}
        <p>
            <time>{{ .Date.Format ($.Site.Params.DateFormat | default "2006-01-02") }}</time>
            {{ if .Section }}
            -
            <span class="section"><a href="{{ $.Site.BaseURL}}/{{ .Section }}">{{ .Section }}</a></span>
            {{ end }}
            {{ if .Params.Tags }}
            -
            <span class="tags">
                {{ range .Params.Tags }}
                <a href="{{ $.Site.BaseURL }}/tags/{{ . }}">#{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </p>
        {{ if .Params.Tags }}
        <span>Tags:</span>
        <ul>

        </ul>
        {{ end }}
    </header>

    <aside>
        <h2>{{ i18n "toc" }}</h2>
        {{ .TableOfContents }}
    </aside>

    <div class="content">
        {{ .Content }}
    </div>

    {{/* TODO: Add footer with webmentions  */}}
</article>
{{ end }}
