<ul>
    {{ range .Translations }}
    <li>
        <a href="{{ .Permalink }}">{{ i18n (printf "read_%s" .Lang) }}: {{ .Title }}</a>
    </li>
    {{ end }}
</ul>
<p class="post-headers">
    <span class="creation"><time>{{ .Date.Format ($.Site.Params.DateFormat | default "2006-01-02") }}</time></span>
    {{ if .Parent }}
    -
    <span class="section"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></span>
    {{ end }}
    {{ if .Params.Tags }}
    -
    <span class="tags">
        {{ range .Params.Tags }}
        <a href="{{ $.Site.BaseURL }}/tags/{{ . }}">#{{ . }}</a>
        {{ end }}
    </span>
    {{ end }}
    -
    <span class="words">
        {{ .Content | countwords }} {{ i18n "words" }}
    </span>
    -
    <span class="time">
        {{ div (.Content | countwords)  200 }}min
    </span>
</p>
